:root {
  /* Primary colours*/
  --color-purple: #243d86;
  --color-teal: #19aeab;

  /* Secondary colours*/
  --color-cobalt: #243d86;
  --color-gold: #eec515;

  /* Focus state */
  --color-focus: rgba(25, 174, 171, .5);

  /* Typography */
  --color-text: #111;
}

.purple {
  color: var(--color-purple);
}

.teal {
  color: var(--color-teal);
}

.cobalt {
  color: var(--color-cobalt);
}

.gold {
  color: var(--color-gold);
}
