<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Hover Test</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>

  <main role="main">
    {{ content }}
  </main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/modernizr.custom.97074.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.hoverdir.js"></script>
<script type="text/javascript">
  $(function() {

    $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

  });
</script>
</body>
</html>
